.project-slider-container .new_single_slider .swiper-slide img {
    border-radius: 0 ;
    box-shadow: none;
    object-fit: scale-down;
    margin-left: -15px;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    -ms-border-radius: 0 ;
    -o-border-radius: 0 ;
}



   /* @media screen and (min-width: 320px) and (max-width: 768px) {
    .project-slider-container {
        margin:0 ;
    }
    .project-slider-container .new_single_slider .swiper-slide img{
        margin: 0;
    }

   } */